<nav role="navigation">
  <img src="https://encrypted-tbn3.gstatic.com/shopping?q=tbn:ANd9GcQ707YMH-q5FQe99alSrQpLmlf8gGQKUEkUR14VJR9gb3O07mfG-8r82QPiOyIb8wMfZ8xEXGWjsTik1mzdzIQA-3jFpF2vbK9_1pRpK1IkEW2LxudrAd15CR4"
  alt="Your logo" class=" nav-logo">
  <a routerLink="/signup" title="Sign Up">Sign Up</a>
  <span> | </span>
  <a routerLink="/signin" title="Sign In">Sign In</a>
  <span> | </span>
  <a routerLink="/post/all" title="All Posts">All Posts</a>
  <span> | </span>
  <a routerLink="/post/new" title="Create Post">Create Post</a>
  <span> | </span>
  <a routerLink="/profile" title="Profile">My Profile</a>
  <span> | </span>
  <a routerLink="/profile/edit" title="editProfile">Edit Profile</a>
  <span> | </span>
</nav>
<router-outlet></router-outlet>